wheel==0.41.3
setuptools==69.0.2
pip>=23.0.1
aiohttp==3.8.1
python-telegram-bot==20.3
python-dotenv==1.0.0
yt-dlp==2023.11.16
psutil==5.9.5
ffmpeg-python==0.2.0
requests==2.31.0
pydub==0.25.1
pillow==10.0.0
beautifulsoup4==4.12.2
httpx==0.24.1